<h1 class="h2 fw-normal d-inline">{{ title }}</h1>
{% if subtitle is defined %}
    <small class="ms-2">{{ subtitle }}</small>
{% endif %}
{% if button is defined %}
    {% set types = {
        'Add': {
            color: 'success',
            icon: 'plus',
            text: 'Add' | trans
        },
        'Create': {
            color: 'success',
            icon: 'plus',
            text: 'Create' | trans
        },
        'Edit': {
            color: 'info',
            icon: 'pencil',
            text: 'Edit' | trans
        },
        'Back': {
            color: 'primary',
            icon: 'arrow-left',
            text: 'Back' | trans
        }
    } %}
    {% if button.url is defined %}
        <a href="{{ button.url }}"{% else %}<button{% endif %}
    class="btn btn-{{ button.color is defined ? button.color : types[button.type].color | default('danger') }} float-end" {% for key, value in button.attr | default([]) %}{{ key | u.snake | replace({ '_': '-' }) }}="{{ value }}"{% endfor %}>
    {% if button.icon is defined %}
        {{ icon('solid/' ~ button.icon, { class: 'me-2' }) }}
    {% elseif types[button.type] is defined %}
        {{ icon('solid/' ~ types[button.type].icon, { class: 'me-2' }) }}
    {% endif %}
    <span>
        {% if button.text is defined %}
            {{ button.text | raw }}
        {% elseif types[button.type] is defined %}
            {{ types[button.type].text }}
        {% else %}
            {{ 'Button' | trans }}
        {% endif %}
    </span>
    {% if button.url is defined %}</a>{% else %}</button>{% endif %}
{% endif %}

{% if include is defined %}
    {{ include | raw }}
{% endif %}

{% if items is defined %}
    <hr>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% for item in items %}
                {% if item.name is not empty and (item.condition is not defined or item.condition == true) %}
                    <li class="breadcrumb-item{{ item.active is defined ? ' active' }}"{{ item.active is defined ? ' aria-current="page"' }}>
                        {% if item.url is defined %}
                            <a href="{{ item.url }}">{{ item.name }}</a>
                        {% else %}
                            <span class="text-secondary">{{ item.name }}</span>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
{% endif %}
<hr>